// ============ 自定义样式 ================
// == font
$--font-size-extra-large: 40px;
$--font-size-large: 36px;
$--font-size-medium: 32px;
$--font-size-base: 28px;
$--font-size-small: 26px;
$--font-size-extra-small: 24px;
$--font-line-height-primary: 48px;
$--font-line-height-secondary: 32px;
// == border
$--border-width-base: 1px;
$--border-radius-base: 8px;
$--border-radius-small: 4px;
// == input
$--input-font-size: $--font-size-base;
$--input-height: 80px;
$--input-medium-font-size: $--font-size-base;
$--input-medium-height: 72px;
$--input-small-font-size: $--font-size-small;
$--input-small-height: 64px;
$--input-mini-font-size: $--font-size-extra-small;
$--input-mini-height: 56px;
// == button
$--button-padding-vertical: 24px;
$--button-padding-horizontal: 40px;
$--button-medium-padding-vertical: 20px;
$--button-medium-padding-horizontal: 40px;
$--button-small-font-size: $--font-size-extra-small;
$--button-small-padding-vertical: 18px;
$--button-small-padding-horizontal: 30px;
$--button-mini-font-size: $--font-size-extra-small;
$--button-mini-padding-vertical: 14px;
$--button-mini-padding-horizontal: 30px;
// == card
$--card-border-radius: 8px;
$--card-padding: 40px;
// == avatar
$--avatar-large-size: 120px;
$--avatar-medium-size: 90px;

// =========== element原生样式 =============
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";